@import url("nav.css");
form{
   
    background-color: var(--secondary);
    width:70%;
    margin: 0 auto;
    margin-block: 50px;
    padding: 10px;
}
h1{text-align: center;
padding-block: 10px;}
form *:not(h1){
    display: block;
    font-size: 1.5em;
    width: 80%;
    margin:10px auto;
    background-color: var(--secondary)!important;
    color:var(--primary);
    border: 1px solid var(--accent);
    border-radius: 10px;
    padding-inline: 10px;
}
input[type="submit"]{
    border: 5px solid var(--primary);
    margin-top: 30px;
    background-color: var(--accent)!important;
    color:var(--secondary);
    transition:.5s;
}
input[type="submit"]:hover{
    background-color: var(--primary);
}
/*"Fájl kiválasztása gomb", valamiért nem írja felül...*/
#file-upload-button{
    background-color: var(--secondary)!important;
    border: none!important;
}