@import url("nav.css");
@import url("addticket.css");
h1{
    color: var(--secondary)!important;
    text-align: center;
    padding-top: 30px;
}

p{
    text-align: center;
    color: var(--secondary)!important;
    font-size: 20px;
    margin-top: 20px;
}
.soldout{
    text-align: center;
    font-size: 32px;
    display: inline-flex;
    padding-inline: calc(12% - 70px);
    float: inline-end;

}
#darab{
    min-height: unset;
    font-size: 48px;
    background-color: var(--secondary);
    border: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    width:100px;
    max-width: 10%;
    text-align: right;
    vertical-align: middle;
    

}
.cartbtn{
    background-color: var(--accent);
    float: right;
    height: 108px;
    color: var(--secondary);
    padding: 5px;
    border: 3px solid var(--accent);
}
#l{
    font-size: 48px;
    vertical-align: middle;
    
}
.kep{
    margin: 0 auto;
    min-height: 300px;
    width: 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
    margin-block: 20px;
}
